.Layout {
  height: 100%;
  :global {
    .layout-side {
      height: 100%;
    }
    .logo {
      padding: 20px 0 20px 20px;
      transition: all .3s;
      background: #002140;
      overflow: hidden;
      color: white;
      font-size: 18px;
    }
    .user-info {
      float: right;
      margin:15px 30px 0 0;
      color: white;
      position: relative;
      z-index: 1;
    }
  }
}